network:
    version: 2
    renderer: networkd
    ethernets:
        {{ np_interface }}:
            dhcp4: true
    bridges:
        {{ kvm_vibr_name }}:
            interfaces: [{{ np_interface }}]
            dhcp4: true
            parameters:
                stp: false
                forward-delay: 0